extends /layout/layout

block main
   -// field names must mach table cols
   .pad
      div Number of rows in the table
      div.test-div
      .buts
         button#countBut.btn Count data
         button#backBut.btn Back

   style.
      .buts button {
         margin: .5rem;
      }

   script.
      depp.define({
         'bindLoad': ['TestBind.js']
      })
      depp.require(['pre','bindLoad'], setupTest)

      var testBind;

      function setupTest() {
         
         testBind = new TestBind();
         testBind.init('form1');
         
         $('#countBut').click(function(){
            testBind.countData();
         })//click

         $('#backBut').click(function(){
            window.location.replace('/screen/viewmodel')
         })
      } //()