extends /layout/layout

block main
   -// field names must mach table cols
   .pad
      div Test page example
      #form1.grid-form(autocomplete="off")
         //fieldset
            //div(data-row-span='1')
               //div(data-field-span='1')
                  //label Count
                  //input(name='countData', type='text')
         //input(hidden='', name='id') 
      .buts
         button#countBut.btn Count data
         button#backBut.btn Back

   style.
      .buts button {
         margin: .5rem;
      }

   script.
      depp.define({
         'bindLoad': ['TestBind.js']
      })
      depp.require(['pre','bindLoad'], setupTest)

      var testBind;

      function setupTest() {
         
         testBind = new TestBind();
         testBind.init('form1');
         
         $('#countBut').click(function(){
            testBind.countData();
         })//click

         $('#backBut').click(function(){
            window.location.replace('/screen/viewmodel')
         })
      } //()